//  <!========================================================>
//  <!====================== Acceuil =========================>
//  <!========================================================>


.titre{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 70px;
    color: #143054;
}
.card-title
{
  font-size: 35px;
  text-align: center;
   font-family: 'Dancing Script', cursive;
}

//  
//<!--------------- Les étapes de location------------------>
//  

.location{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}





