//  <!===============================================================>
//  <!=======================accueil user============================>
//  <!===============================================================>


.accueil_user{
background: url(../images/poster.jpg) no-repeat center fixed; 
margin:0;
padding:0;
background-size: cover; /* version standardisée */
 

}

.bienvenue_user{
margin-top: 30px;
}