
//  <!===============================================================>
//  <!=======================footer============================>
//  <!===============================================================>


.footer_information{
background-color: #143054;
margin-bottom: -25px;
}

.color-blanc{
  color:white;
}

.footer{

bottom:0;
width:100%;
padding-top:0%;

}